@import url('https://fonts.googleapis.com/css?family=Expletus+Sans|Poiret+One');

body {
    font-family: 'Poiret One', sans-serif;
    padding: 0;
    margin: 0;
}

.construction-text {
    // font-family: 'Expletus Sans';
    font-size: 6rem;
    position: absolute;
    width: 100vw;
    text-align: center;
    z-index: 99;
}
.diagonal-slice {
    position: absolute;
    width: 100vw;
    height: 60vh;
    background: linear-gradient(193deg, rgba(255, 255, 255, 0.5) 50%, transparent 50%);
}
.backdrop {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    

    // background: linear-gradient(139deg, #77a3bb, #9ea1d5, #95c8b7, #77bbb9);
    // background-size: 800% 800%;
    
    // -webkit-animation: CSSGradiantAnimation 43s ease infinite;
    // -moz-animation: CSSGradiantAnimation 43s ease infinite;
    // animation: CSSGradiantAnimation 43s ease infinite;

    // h1 {
    //     font-size: 4rem;
    // }
    // h1, h2, h3, h4, h5, h6 {
    //     font-weight: inherit;
    // }
    .backdrop-image {
        width: calc(100% + 15px);
        height: calc(100% + 15px);
        position: relative;
        left: -8px;
        top: -8px;
        background-image: url('images/Background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(.9) blur(2px);
    }
}


// @-webkit-keyframes CSSGradiantAnimation {
//     0%{background-position:50% 0%}
//     50%{background-position:50% 100%}
//     100%{background-position:50% 0%}
// }
// @-moz-keyframes CSSGradiantAnimation {
//     0%{background-position:50% 0%}
//     50%{background-position:50% 100%}
//     100%{background-position:50% 0%}
// }
// @keyframes CSSGradiantAnimation { 
//     0%{background-position:50% 0%}
//     50%{background-position:50% 100%}
//     100%{background-position:50% 0%}
// }